@use "../../sass/variable.module.scss";
@use "../../sass/typo.module.scss";
@use "../../sass/colors.module.scss";

details {
    min-width: 50%;
    width: 100%;
    background-color: none;
    border-radius: 5px;
    border: 0px;
    margin: 14px 0px;
    padding: 5px;
    transition: max-height 0.3s ease;

    summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        cursor: pointer;
        background-color: colors.$colorMain;
        color: typo.$colorTypoWhite;
        border-radius: 5px;
        font-weight: 500;
        font-size: 1.1rem;
        padding: 5px 10px 5px;
        z-index: 2;

        .customMarker {
            transition: transform 0.3s ease;
        }
    }

    p {
        font-size: 1.0rem;
        position: relative;
        top: -10px;
        height: fit-content;
        margin: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 5px;
        display: flex;
        justify-content: start;
        align-items: start;
        text-align: left;
        color: typo.$colorTypoBlack !important;
        background-color: colors.$backgroundCard;
        z-index: 0;
        max-height: 0;
        overflow: hidden;
    }

    ul {
        list-style: none; // Masque les puces par défaut
        padding-left: 30px; // Supprime le padding gauche par défaut
        background-color: colors.$backgroundCard;
        z-index: 0;
        position: relative;
        margin: 0;
        top: -10px;
        padding-top: 5px;
        padding-bottom: 16px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        li {
            position: relative; // Nécessaire pour positionner le ::before

            &::before {
                content: "-"; // Ajoute un tiret avant chaque élément de liste
                position: absolute; // Positionne le tiret
                left: -20px; // Ajuste la position du tiret
            }
        }
    }

    &[open] {
        summary {
            padding: 5px 10px 15px;

            .customMarker {
                transform: rotate(-180deg);
            }
        }

        p {
            max-height: 1000px;
        }
    }
}

@keyframes details-show {
    from {
        opacity: 0;
        transform: var(--details-translate, translateY(-5px));
    }
}

details[open]>*:not(summary) {
    animation: details-show 300ms ease-in-out;
}