@use "../../sass/global";
@use "../../sass/typo";
@use "../../sass/colors";

.pageAbout {
    display: flex;
    flex: 1;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: global.$mainPadding;
    background-color: colors.$backgroundSite;
    color: colors.$colorTypoBlack;
    font-family: typo.$fontDefault;
    font-size: 1.2rem;
    text-align: center;


}