@use "../../sass/variable.module.scss" as global;
@use "../../sass/typo.module.scss";
@use "../../sass/colors.module.scss";


.pageAbout {
    max-width: 1240px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
    padding: global.$mainPadding;
    background-color: colors.$backgroundSite;
    color: colors.$colorTypoBlack;
    font-family: typo.$fontDefault;
    font-size: 1.2rem;
    text-align: center;

    @media screen and (min-width: 768px) {
        width: 80%;

    }

}