@use "../../sass/colors.module.scss";
@use "../../sass/typo.module.scss";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 10px;
    width: 100%;
    max-width: 1240px;

    .logo {
        width: clamp(100px, 10vw, 150px);
    }

    @media screen and (max-width: 1240px) {
        padding: 5px 10px 10px;
    }
}