//============================================= OC-11 KASA ===========//
// COLORS ============================================================//
//==================================== By NEPHELIM ============ 2024 =//

// Colors Global -- --------------------------------------------------//
$backgroundSite: #ffffff !default;
$backgroundSiteLight: #ffffff !default;
$backgroundSiteDark: #353535 !default;

$backgroundFooter: #000000 !default;
$backgroundGlobalElement: #9356dc !default;
$colorGreyBackground : #FAFAFA;

// Colors Components ------------------------------------------------//
$colorMain : #FF6060;
$colorSecondary : #D3573C;
$colorTernary : #DB8876;

$backgroundCard: #ffffff !default;


// Colors Typo ------------------------------------------------------//
$colorTypoGrey : #757575;
$colorTypoGreyBis :#312E2E;
$colorTypoBlack : #000000;
$colorTypoWhite : #ffffff;