//============================================= OC-11 KAZA ===========//
// _GLOBAL ===========================================================//
//==================================== By NEPHILIM ============ 2024 =//
@use "./colors.scss";
@use "./typo.scss";

$mainPadding: 5px;
$mainWidth: 1240px;

:root {
    font-size: typo.$fontSizeRoot;
    color-scheme: light dark;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}



body {
    margin: 0;
    background: colors.$backgroundSite;
    font-family: typo.$fontDefault;
    // DARL MODE & LIGHT MODE 
    //color: light-dark(colors.$backgroundSiteLight, colors.$backgroundSiteDark);
    //background-color: light-dark(colors.$backgroundSiteLight, colors.$backgroundSiteDark);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {

    max-width: 1240px;
    font-family: typo.$fontDefault;
    margin: 0 auto 50px;
}