.hero {
    display: flex;
    position: relative;
    max-width: 1240px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    img {
        aspect-ratio: 34/9;
        object-fit: cover;
        width: 100%;
        border-radius: 25px;
    }

    h1 {
        // Position NEPHA CODE
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        // STYLE FONT NEPHA CODE
        font-size: clamp(1.0rem, 5vw, 3rem);
        color: white;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0px;
        white-space: nowrap;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
}