@use "../../sass/variable.module.scss" as global;
@use "../../sass/typo.module.scss";
@use "../../sass/colors.module.scss";

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: colors.$colorMain;

    a {
        color: typo.$colorTypoBlack;
        text-decoration: none;
        margin-left: 10px;

        &:visited {
            color: typo.$colorTypoBlack;
        }
    }
}

.HostingHome {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    background-color: colors.$backgroundSiteDark;
    border-radius: 25px;
    grid-gap: 2.3rem;
    padding: 2vw;
    margin: 2rem 0rem;

    &__saperlipopette {
        aspect-ratio: 1/1;


        figure {
            position: relative;
            height: 100%;
            width: 100%;
            border-radius: 10px;
            margin: 0px;

            a {
                display: block;
                height: 100%;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }

                figcaption {
                    position: absolute;
                    left: 5px;
                    bottom: 11px;
                    width: 45%;
                    color: colors.$colorTypoWhite;
                    font-size: 1rem;
                    font-weight: bold;
                    border-radius: 10px;
                    z-index: 1;
                    text-align: left;
                    text-shadow: 1px 1px 3px grey;
                    ;
                }

            }
        }
    }

    @media screen and (max-width: 768px) {
        background-color: transparent;

    }

}