@use "../../sass/global";
@use "../../sass/typo";
@use "../../sass/colors";

.pageHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: global.$mainPadding;
    background-color: colors.$backgroundSite;
    color: colors.$colorTypoBlack;
    font-family: typo.$fontDefault;
    font-size: 1.2rem;
    text-align: center;

    img {
        width: 100%;
        border-radius: 10px;
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color: colors.$colorMain;

        a {
            color: typo.$colorTypoBlack;
            text-decoration: none;
            margin-left: 10px;

            &:visited {
                color: typo.$colorTypoBlack;
            }
        }
    }
}