@use "../../sass/colors.module.scss" as colors;

.slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
        aspect-ratio: 21/9;
        object-fit: cover;
        width: 100%;
        border-radius: 25px;

        @media screen and (max-width: 768px) {
            aspect-ratio: 4/3;
        }
    }

}

.arrow {
    cursor: pointer;
    font-size: clamp(1.5rem, 10vw, 3rem);
    color: colors.$colorWhite;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow:first-of-type {
    left: 0.8rem;
}

.arrow:last-of-type {
    right: 0.8rem;
}


.counter {
    font-size: 0.8rem;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    bottom: 3%;
    transform: translateY(-50%);

    @media screen and (max-width: 768px) {
        display: none;

    }

}