//@use "../../sass/global.module.scss";
@use "../../sass/colors.module.scss";
@use "../../sass/typo.module.scss";
@use "../../sass/variable.module.scss";

.info {
    display: grid;
    grid-template-areas:
        "home host"
        "details details";
    grid-template-columns: 1fr 1fr;
    margin: 10px 0px 40px;

    @media screen and (max-width: 768px) {
        grid-template-areas:
            "home"
            "host"
            "details";
        grid-template-columns: 1fr;
    }

    .home {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        font-size: 1.2rem;
        color: colors.$colorMain;

        .h1property {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: clamp(0.6rem, 2.5vw, 1.5rem);
            font-weight: 400;
            color: colors.$colorMain;
            text-align: left;
            margin: 0px;

            @media screen and (max-width: 768px) {
                font-size: clamp(1.2rem, 3vw, 1.5rem);
                white-space: normal;
                text-overflow: none;
                overflow: visible;
            }
        }

        .pin {
            margin: 5px 0px 15px;
            font-size: 1rem;
            color: colors.$colorTypoBlack;
            text-align: left;
        }
    }

    .host {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: end;
        font-size: 1.2rem;
        color: colors.$colorMain;

        @media screen and (max-width: 768px) {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }

        .profil {
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            min-width: 100%;

            @media screen and (max-width: 768px) {
                min-width: unset;
            }

            p {
                max-width: 50%;
                height: 100%;
                display: flex;
                justify-content: start;
                align-items: center;
                margin: 0px 10px 0px 0px;
                font-size: 1rem;
                text-align: left;

                @media screen and (max-width: 768px) {
                    display: flex;
                    height: 100%;
                    text-align: right;
                }
            }

            img {
                display: block;
                width: 70px;
                border-radius: 50%;
            }
        }
    }

    .details {
        grid-area: details;
        display: flex;
        flex-direction: row;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
}