@use "../../sass/typo.module.scss" as typo;
@use "../../sass/colors.module.scss" as colors;

footer {
    display: flex;
    position: sticky;
    bottom: 0;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    height: 120px;
    color: colors.$colorTypoWhite;
    background-color: colors.$backgroundFooter;
    width: 100%;
    font-size: 1rem;


    p {
        color: colors.$colorTypoWhite;
        margin-top: 5px 0px;
    }

    .logo {
        margin-top: 10px;
        width: 150px;
        max-width: 150px;

        img {
            margin-top: 10px;
            width: 150px;
            max-width: 150px;
        }
    }

}