@use "../../sass/typo";
@use "../../sass/colors";

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    color: colors.$colorTypoWhite;
    background-color: colors.$backgroundFooter;
    bottom: 0;
    position: fixed;
    width: 100%;
    font-size: 1rem;

    p {
        color: colors.$colorTypoWhite;
        margin-top: 5px 0px;
    }

    .logo {
        margin-top: 10px;
        width: 150px;
        max-width: 150px;

        img {
            margin-top: 10px;
            width: 150px;
            max-width: 150px;
        }
    }

}